__pycache__/
*.py[cod]
*.so
*.egg-info/
.pytest_cache/
.idea/
.vscode/

data/
exp/
outputs/
logs/
wandb/
build/
dist/

*.pth
*.pt
*.ckpt
*.onnx
*.las
*.laz
*.pcd
*.ply
*.npy
*.npz
*.log

!pointcept/datasets/preprocessing/scannet/meta_data/scannet_means.npz
